.container {
  display: flex;
  justify-content: center;
}

.bg-container {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.tossCoinContainer {
  background-color: #ffffff;
  width: 90%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .tossCoinContainer {
    width: 400px;
  }
}

.heading {
  font-family: 'Roboto';
  color: #a35200;
  font-size: 28px;
}

.description {
  font-family: 'Roboto';
  color: #334155;
  font-size: 20px;
  font-weight: 600;
}

.coinImage {
  height: 150px;
  width: 150px;
}

.button {
  height: 30px;
  width: 80px;
  background-color: #e2a139;
  color: #a35200;
  font-family: 'Roboto';
  font-size: 12px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}

.count {
  font-family: 'Roboto';
  color: #475569;
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
}

.count-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .count-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
